<p>Hi {{ currentUser }}</p>
<p>Choose an answer for each of the questions and submit the test once done:</p>
<p>Good luck!</p>
<form #playForm="ngForm">
  <div *ngFor="let q of selected_questions; let i = index" class="question">
    <p>{{ i + 1 }}. {{ q.text }}</p>
    <input type="radio" name="a{{i}}" value="{{ q.answer }}" [(ngModel)]="chosen_answers[i]" required>{{ q.answer }}<br>
    <input type="radio" name="a{{i}}" value="{{ q.fake1 }}" [(ngModel)]="chosen_answers[i]" required>{{ q.fake1 }}<br>
    <input type="radio" name="a{{i}}" value="{{ q.fake2 }}" [(ngModel)]="chosen_answers[i]" required>{{ q.fake2 }}<br>
  </div>
  <div class="row_container">
    <button type="button" name="cancel" (click)="doCancel()">Cancel</button>
    <input type="submit" name="submit" value="Submit" [disabled]="!playForm.form.valid" (click)="doSubmit()" />
  </div>
</form>
